.collection-page {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
