.sign-in-and-sign-up {
  /* padding: 20px 60px; */
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  padding: 20px 40px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: unset;
    align-items: center;
    > *:first-child {
      margin-bottom: 50px;
    }
  }
}
